---
import layout from "../../constants/style";
import Typography from "../react/Typography";
import Indentation from "./Indentation.astro";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class=`${layout.section.light}` id="contact">
  <Typography variant="span" className="!text-center !mb-16">{t("contact.sectionTitle")}</Typography>
  <div
    class=`${layout.maxWidthSecondary} flex flex-col sm:flex-row justify-between gap-12`
  >
    <div class="relative flex flex-col justify-between w-full sm:max-w-[65ch]">
      <div>
          <Typography variant="h2" className="text-wrap">
            {t("contact.leftSubtitle")}
          </Typography>
          <Typography>
            {t("contact.leftSubtitle2")}
          </Typography>
      </div>
      <a
        href="mailto:borislav.godumov@outlook.com"
        class=`flex gap-4 items-center underline underline-offset-4 text-cyan-600 font-semibold text-xl`
      >
        <span>{t("contact.CTA")}</span>
        <i class="fa-solid text-base fa-arrow-right rotate-2"></i>
      </a>
    </div>
    <div class="w-full sm:max-w-[65ch] flex flex-col justify-between">
      <div>
        <Typography variant="h2" className="text-wrap">
          {t("contact.rightSubtitle")}
        </Typography>
        <Typography>
          {t("contact.rightSubtitle2")}
        </Typography>
      </div>
      <div>
        <div
          class="flex flex-wrap justify-center sm:justify-start items-center gap-12"
        >
          <Typography
            variant="p"
            className="flex items-center flex-col text-xl sm:text-2xl !mb-0"
          >
            <span class="text-cyan-600 text-3xl sm:text-4xl font-bold"
              >100 +</span
            >
            {t("contact.span1")}
          </Typography>
          <Typography
            variant="p"
            className="flex items-center text-xl sm:text-2xl flex-col !mb-0"
          >
            <span class="text-cyan-600 text-3xl sm:text-4xl font-bold"
              >{t("contact.span2")}</span
            >{t("contact.span3")}
          </Typography>
        </div>
      </div>
    </div>
  </div>
</section>
