---
import layout, { style } from '../../constants/style';
import Typography from '../react/Typography';
---

<section
  class=`${layout.section.dark} relative z-10 pt-80 before:absolute before:w-full before:h-8 before:-top-6 overflow-hidden before:left-0 before:bg-cyan-800 before:z-10 before:-rotate-1`
>
  <div class=`${layout.maxWidth}`>
    <Typography variant="span">-Project(list);</Typography>
  </div>
</section>
