---
import layout, { style } from '../../constants/style';
import Typography from '../react/Typography';
---

<section class=`${layout.section.dark} relative z-10 pt-80`>
  <div class=`${layout.maxWidth}`>
    <Typography variant="span">-Projects(list);</Typography>
  </div>
</section>
