---
import layout, { style } from '../../constants/style';
import Typography from '../react/Typography';
---

<section class=`${layout.maxWidth} grid responsive-grid -mb-[175px] pt-28`>
  <div
    class="w-[350px] z-30 h-[350px] bg-gray-200 dark:bg-[#585d68] shadow-md rounded-sm p-4"
  >
    <Typography variant="h2" className="my-1/2">Front-End</Typography>
  </div>
  <div
    class="w-[350px] z-30 h-[350px] bg-gray-200 dark:bg-[#585d68] shadow-md rounded-sm"
  >
  </div>
  <div
    class="w-[350px] z-30 h-[350px] bg-gray-200 dark:bg-[#585d68] shadow-md rounded-sm"
  >
  </div>
</section>
