---
import layout, { style } from '../../constants/style';
import Typography from '../react/Typography';
---

<section
  class=`${layout.maxWidth} flex flex-wrap justify-around gap-4 -mb-[175px] pt-28`
>
  <div
    class="z-10 relative overflow-hidden w-[350px] h-[350px] bg-gray-200 dark:bg-[#585d68] drop-shadow-xl rounded-xl after:absolute after:w-full after:h-1 after:bg-cyan-600 after:top-0"
  >
    <div class="p-4 w-full h-full">
      <Typography variant="h2">Front end.</Typography>
    </div>
  </div>
  <div
    class="z-10 relative overflow-hidden w-[350px] h-[350px] bg-gray-200 dark:bg-[#585d68] drop-shadow-xl rounded-xl after:absolute after:w-full after:h-1 after:bg-cyan-600 after:top-0"
  >
    <div class="p-4 w-full h-full">
      <Typography variant="h2">Front End</Typography>
    </div>
  </div>
  <div
    class="z-10 relative overflow-hidden w-[350px] h-[350px] bg-gray-200 dark:bg-[#585d68] drop-shadow-xl rounded-xl after:absolute after:w-full after:h-1 after:bg-cyan-600 after:top-0"
  >
    <div class="p-4 w-full h-full">
      <Typography variant="h2">Front End</Typography>
    </div>
  </div>
</section>
