---
import layout from "../../constants/style";
import avatarPhoto from "../../assets/Bobby.jpg";
import Typography from "../../components/react/Typography";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import BlogLayout from "../../layouts/BlogLayout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const posts = await Astro.glob("../blog/*.md");
---

<BlogLayout title="Lavacoder | Blog">
    <div class="bg-red-100 text-center py-2">
        <h2 class="text-orange-700 text-lg">This side of the moon is still dark!</h2>
        <p class="text-orange-500 text-sm underline">The blog page is under construction</p>
    </div>
    <section class=`${layout.section.dark}`>
        <div
            class=`${layout.maxWidth} flex flex-col md:flex-row justify-center items-center gap-4 md:gap-8`
        >
            <div
                class="w-2/3 md:w-1/4 h-auto overflow-hidden rounded-full border-[4px] border-gray-400 dark:border-gray-200/40"
            >
                <img
                    src={avatarPhoto.src}
                    class="object-cover w-full h-full grayscale"
                    alt="Borislav"
                />
            </div>
            <div class="w-full text-center md:text-left md:w-1/2">
                <Typography variant="h2" className="!mb-0">{t("blog.author")}</Typography>
                <Typography>Fullstack Javascript Developer</Typography>
                <Typography>
                    {t("blog.aboutAuthor")}
                </Typography>
                <a
                    href="https://www.linkedin.com/in/borislav-godumov-7245b61a2/"
                    target="_blank"
                    class="flex items-center hover:gap-8 transition-all duration-300 gap-2 text-lg text-cyan-600 underline underline-offset-4"
                >
                    <p>
                        Connect with me on <span class="font-bold">LinkedIn</span>
                    </p>
                    <i class="fa-solid fa-arrow-right text-lg"></i>
                </a>
            </div>
        </div>
    </section>
    <div class=`${layout.section.light}`>
        <ul class="flex items-center justify-center flex-col">
            {
                posts.map((post) => {
                    console.log(post.frontmatter);
                })
            }
        </ul>
    </div>
</BlogLayout>
