---
import Layout from "../layouts/Layout.astro";
import layout, { style } from "../constants/style";
import avatarPhoto from "../assets/Bobby.jpg";
import Typography from "../components/react/Typography";
---

<Layout title="Lavacoder | Blog">
  <section class=`${layout.section.dark}`>
    <div
      class=`${layout.maxWidth} flex flex-col md:flex-row justify-center items-center gap-4 md:gap-8`
    >
      <div
        class="w-2/3 md:w-1/4 h-auto overflow-hidden rounded-full border-[4px] border-gray-400 dark:border-gray-200/40"
      >
        <img
          src={avatarPhoto.src}
          class="object-cover w-full h-full grayscale"
          alt="Borislav"
        />
      </div>
      <div class="w-full text-center md:text-left md:w-1/2">
        <Typography variant="h2" className="!mb-0">Borislav Godumov</Typography>
        <Typography>Fullstack Javascript Developer</Typography>
        <Typography>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
          aspernatur corrupti illo nobis, nam ex corporis distinctio nihil
          mollitia dicta voluptas quasi enim omnis veritatis veniam nemo
          delectus nulla? Voluptatem?
        </Typography>
      </div>
    </div>
  </section>
</Layout>
