---
// import Hero from '../components/Hero';
import Hero from '../components/Hero.astro';
import Navigation from '../components/Navigation';
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
import layout from '../constants/style';
import Gradient from '../components/Gradient.astro';
---

<Layout title="Lavacoder | Home">
  <div
    class="overflow-hidden relative z-10 bg-gray-100 dark:bg-gray-900 before:absolute before:w-full before:h-8 before:-bottom-6 before:left-0 before:bg-cyan-800 before:z-10 before:-rotate-1"
  >
    <Navigation client:only />
    <Hero />
  </div>
  <div class=`${layout.maxWidth} relative z-1`>
    <!-- !Fix this gradient is not working as expected -->
    <Gradient gradientColor="#155e75" gradientSize="600px" />
    <Contact />
    <a href="/blog">Go to the my blog</a>
  </div>

  <style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

    body {
      font-family: 'Poppins', sans-serif;
    }

    .hover-line::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #0891b2;
      transition: width 0.3s ease-in-out;
    }

    .hover-line:hover::before {
      width: 100%;
    }

    .text-wrap {
      text-wrap: balance;
    }
  </style>
</Layout>
