---
const { gradientColor, gradientSize } = Astro.props;
---

<div
  class=`absolute -left-1/2 -top-[50px] -z-[1] h-[${gradientSize}] w-[${gradientSize}] rounded-full opacity-30`
  style={{
    background: `radial-gradient(circle, ${gradientColor}, transparent)`,
    filter: 'blur(20px)',
  }}
>
</div>
