@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Noto+Sans:wght@400;500;600;700&display=swap");

body {
    font-family: "Noto Sans", sans-serif;
}

.hover-line::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #0891b2;
    transition: width 0.3s ease-in-out;
}

.hover-line:hover::before {
    width: 100%;
}

.text-wrap {
    text-wrap: balance;
}

.responsive-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 96px; */
}

.animate-fadeIn {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
